@use "../styles/color";

.modeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 1.4em;
  width: 100%;
  border-bottom: 1px solid color.$main;
  background: color.$secondary;
  height: 2rem;
  line-height: 1.5em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.navigate {
  margin-left: 2rem;
}

.minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: color.$back-ground;
  height: 1.4em;
  line-height: 1em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
