@use "../styles/color";

.modeline {
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  bottom: 1.4em;
  width: 100%;

  border-bottom: 1px solid color.$main;

  background: color.$secondary;

  height: 1.625rem;
  line-height: 1em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
