@use "../styles/color";

.modeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 1.4em;
  width: 100%;
  border-bottom: 1px solid color.$main;
  background: color.$secondary;
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}

.navigate {
  margin-left: 0.5rem;
}

@media screen and (max-width: 450px) {
  .bufferInfo {
    display: none;
  }
}

.bufferInfo {
}

.minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.4rem;
  background: color.$back-ground;
  line-height: 1em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}
