$back-ground: #f8f5f2;
$headline: #232323;
$paragraph: #222525;
$button: #078080;
$button-text: #232323;
$stroke: #232323;
$main: #fffffe;
$highlight: #078080;
$secondary: #f45d48;
$tertiary: #f8f5f2;
