@use "color";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: color.$back-ground;
}

* {
  box-sizing: border-box;
}

a {
  color: color.$button;
  text-decoration: none;
}

a:hover {
  background-color: color.$button;
  color: color.$back-ground;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: color.$paragraph;
}

.TODO {
  background-color: green;
  color: white;
}

.DONE {
  background-color: gray;
  color: white;
}
