@use "color";
@import "lxgw-wenkai-webfont/lxgwwenkai-regular.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LXGW WenKai", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: color.$base3;
  color: color.$base00;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: color.$base0;
  background: color.$base03;
}

* {
  box-sizing: border-box;
}

a {
  color: color.$blue;
  text-decoration: none;
}

a:hover {
  background-color: color.$blue;
  color: color.$base3;
  text-decoration: none;
}

[data-theme="dark"] {
  a {
    color: color.$green;
  }
  a:hover {
    background-color: color.$green;
    color: color.$base03;
  }
}

button {
  background-color: color.$blue;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

.TODO {
  background-color: color.$green;
  color: color.$base3;
}

.DONE {
  background-color: color.$yellow;
  color: color.$base3;
}
