@use "color";
@import "lxgw-wenkai-webfont/style.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "LXGW WenKai Mono", Ubuntu, Cantarell, Fira Sans, sans-serif;
  font-weight: 700;
  line-height: 1.6;
  font-size: 18px;
  background-color: color.$base3;
  color: color.$base01;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: color.$base0;
  background: color.$base03;
}

* {
  box-sizing: border-box;
}

a {
  color: color.$blue;
  text-decoration: none;
}

a:hover {
  background-color: color.$blue;
  color: color.$base3;
  text-decoration: none;
}

[data-theme="dark"] {
  a {
    color: color.$blue;
  }
  a:hover {
    background-color: color.$blue;
    color: color.$base03;
  }
}

.button {
  background-color: color.$blue;
  border: none;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: color.$blue;
  color: color.$base3;
  text-decoration: none;
}

[dark-theme="dark"] {
  .button {
    color: color.$blue;
  }
  .button:hover {
    background-color: color.$blue;
    color: color.$base03;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  display: block;
}

.TODO {
  background-color: color.$green;
  color: color.$base3;
}

.DONE {
  background-color: color.$yellow;
  color: color.$base3;
}
